extends layout

block content
  h1(id="title") Retrieve Access Token and Get your Personal Info
  p= response
  p You now have your access token and you can push the button to retrieve your resources or identify yourself
  a(class="btn", href="localhost:8080/resources").
    Retrieve Personal Info from Resource Server
			
